server:
  port: 0

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:h2:mem:booking;DB_CLOSE_DELAY=-1;MODE=LEGACY
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true

security:
  jwt:
    secret: YnJvb2tpbmctc2VydmljZS1zZWNyZXQtZGV2LXNlZWQ=
    expiration-seconds: 3600

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
